<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyStoreproject">

	<listeners>
		<listener class-name="com.mystore.utility.Reporting" />
	</listeners>
	<test name="MyStoreproject">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.mystore.testcases.Tc1loginpage" />
			<!--<class name="com.mystore.testcases.Tc2loginpage" />-->
			<class name="com.mystore.testcases.Tc3AddNewCustomer" />
			<class name="com.mystore.testcases.Tc4EditCustomer" />
			<class name="com.mystore.testcases.Tc5DeleteCustomer" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
